In [41]:
import pandas as pd

df = pd.read_json(r'C:\Users\MGroup\Documents\products.json')

default_date = None
df['amount'] = pd.to_numeric(df['amount'])
df['price_sell'] = pd.to_numeric(df['price_sell'])
df['price_buy'] = pd.to_numeric(df['price_buy']) 
df['requisition_created'] = pd.to_datetime(df['requisition_created'], errors='coerce') # Coerce errors will convert invalid parsing to NaT
df['margin'] = 100 - (((df['price_buy'] * df['amount']) / (df['price_sell'] * df['amount'])) * 100)

default_timestamp = pd.Timestamp('2000-01-01')
df['requisition_created'] = df['requisition_created'].fillna(default_timestamp)

# df['requisition_created'] = df['requisition_created'].apply(lambda x: None if pd.isna(x) else x)

In [42]:
rows_with_nat = df[pd.isna(df['requisition_created'])]

print(rows_with_nat)

Empty DataFrame
Columns: [articul, id, brand_title, brand_id, client_title, client_id, requisition_created, price_buy, price_sell, amount, margin]
Index: []

In [72]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, Float, String, DateTime
from datetime import datetime


Base = declarative_base()


conn_str = 'postgresql://admin:5tgb%25TGB@154.38.160.240:45043/famaga'

C:\Users\MGroup\AppData\Local\Temp\ipykernel_24888\1354132495.py:9: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

In [73]:
engine = create_engine(conn_str) # Change this line to match your database connection
Base.metadata.create_all(engine)
Session = sessionmaker(bind=engine)
session = Session()

In [74]:
class PurchaseHistory(Base):
    __tablename__ = 'purchase_history'

    deal_id = Column(Integer, primary_key=True)
    part_number = Column(String)
    brand_title = Column(String)
    brand_id = Column(String)
    client_title = Column(String)
    client_id = Column(String)
    requisition_created = Column(DateTime, nullable=True)
    price_buy = Column(Float)
    price_sell = Column(Float)
    margin = Column(Float)
    amount = Column(Integer)

In [ ]:
for index, row in df.iterrows():
    record = PurchaseHistory(
        deal_id=row['id'], 
        part_number=row['articul'],  # Assuming 'articul' is the part number
        brand_title=row['brand_title'],
        brand_id=row['brand_id'],
        client_title=row['client_title'],
        client_id=row['client_id'],
        requisition_created=row['requisition_created'],
        price_buy=row['price_buy'],
        price_sell=row['price_sell'],
        margin=row['margin'],
        amount=row['amount']
    )
    session.add(record)

# Commit the session to insert records
session.commit()
session.close()

In [53]:
from sqlalchemy import func
from sqlalchemy import create_engine, Column, Integer, Float, String, DateTime
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker
from datetime import datetime
import pandas as pd

def get_deals_with_exceeds_price(session, exceed_num=0.1):
    # Assuming Deal is the SQLAlchemy model for your data
    # Convert requisition_created to datetime within the query if not already datetime
    deals_query = session.query(PurchaseHistory).filter(PurchaseHistory.margin != None)
    
    # This will require executing raw SQL or using a complex ORM query
    # to calculate percentage change directly within the database.
    # For demonstration, this is a simplified version focusing on the ORM's capabilities.
    
    unique_clients = []
    for articul, client_id in deals_query.with_entities(PurchaseHistory.part_number, PurchaseHistory.client_id).distinct():
        deal_group = deals_query.filter(PurchaseHistory.part_number == articul, PurchaseHistory.client_id == client_id).order_by(PurchaseHistory.requisition_created).all()
        
        # Now, replicate the logic for detecting price changes greater than exceed_num
        # Since direct pct_change calculation might not be straightforward with SQLAlchemy alone,
        # fetching and calculating in Python:
        prices = [deal.price_sell for deal in deal_group]
        price_changes = [abs(prices[i] - prices[i-1])/prices[i-1] for i in range(1, len(prices))]
        if any(change > exceed_num for change in price_changes):
            unique_clients.append((client_id, articul))
    
    # Convert to DataFrame for compatibility with original function return type
    return pd.DataFrame(unique_clients, columns=['client_id', 'articul'])

In [54]:
get_deals_with_exceeds_price(session)

KeyboardInterrupt

In [66]:
from sqlalchemy import text


def get_deals_with_exceeds_price_raw_sql(session, exceed_num=0.1):
    sql = text("""
    SELECT DISTINCT client_id, part_number
    FROM (
        SELECT
            client_id,
            part_number,
            LAG(price_sell) OVER(PARTITION BY part_number, client_id ORDER BY requisition_created) as prev_price_sell,
            price_sell
        FROM purchase_history
        WHERE margin IS NOT NULL
    ) as price_changes
    WHERE prev_price_sell IS NOT NULL AND prev_price_sell <> 0
    AND ABS((price_sell - prev_price_sell) / prev_price_sell) > :exceed_num
    """)
    result = session.execute(sql, {'exceed_num': exceed_num})
    unique_clients = pd.DataFrame(result.fetchall(), columns=['client_id', 'part_number'])
    return unique_clients

In [67]:
session.rollback()

In [68]:
get_deals_with_exceeds_price_raw_sql(session)

     client_id part_number
0        71728    55413912
1       102597   100817283
2       112779   785023-04
3        97406     06D1-GA
4        70123
...        ...         ...
1321    114437      31EG94
1322    109628           x
1323    101279      750040
1324    109580
1325    112990

[1326 rows x 2 columns]

In [ ]:
# from sqlalchemy.orm import session
from sqlalchemy import func

def get_total_margin_sqlalchemy(session):
    # Calculate the total profit and total revenue using SQLAlchemy
    total_profit_and_revenue = session.query(
        func.sum((PurchaseHistory.price_sell - PurchaseHistory.price_buy) * PurchaseHistory.amount).label('total_profit'),
        func.sum(PurchaseHistory.price_sell * PurchaseHistory.amount).label('total_revenue')
    ).one()

    total_profit, total_revenue = total_profit_and_revenue

    # Calculate the total margin percentage
    total_margin_percentage = (total_profit / total_revenue) * 100 if total_revenue else 0

    return total_margin_percentage

get_total_margin_sqlalchemy(session)

In [77]:
from sqlalchemy import create_engine

engine = create_engine('postgresql://admin:5tgb%25TGB@154.38.160.240:45043/famaga')
query = "SELECT * FROM purchase_history"
df = pd.read_sql_query(query, engine)
print(df.head())

       part_number                 brand_title brand_id  \
0         PNPCA4/A                     Waircom   7181.0
1         PNPCA4/S                     Waircom   7181.0
2           023121  Tiefenbach Control Systems   5071.0
3      MR8A-V-1-03                      Tosoku   5591.0
4  MGMG2S122241025               END-Armaturen   2296.0

                           client_title client_id requisition_created  \
0                  AIRCOMVA S.R.L.L. SE    101257 2023-01-02 08:11:46
1                  AIRCOMVA S.R.L.L. SE    101257 2023-01-02 08:11:46
2  Exportaciones Industriales Andaluzas    101261 2023-01-02 10:51:41
3                   Castelomega, S.L.U.    101255 2023-01-02 11:45:33
4                       MPS Roding GmbH     42535 2023-01-02 11:48:35

   price_buy  price_sell  amount  deal_id     margin
0      38.10       53.88       1   374206  29.287305
1      38.10       53.88       2   374206  29.287305
2    1663.65     2160.81       1   374216  23.008039
3      18.71       26.30       3   374203  28.859316
4      65.80      123.23       1   374257  46.603911